# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

.idea/

# bower & npm
bower_components/
node_modules/

# Karma coverage reports
coverage/

# npm log
npm-debug.log

